./idea
./.idea
.idea
.idea/jsLibraryMappings.xml

./client/node_modules
./client-test/node_modules
./client-test/build
./server/node_modules

node_modules
.env

.history

/test
./docs
./loginService
./scoreService
./scripts
./serviceShared
./server/client-dist
babel.config.js
jest.config.js
webpack.config.js