
.darkButton {
  height: 46px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, .8);
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  user-select: none;

  &:hover {
    background-color: #51c870;
    color: white;
    outline: 0;
  }
}