$cardWidth: 652px;
$cardHeight: 916px;

$actualCardWidth: 287px;
$actualCardHeight: 400px;
$expandedCardWidth: $actualCardWidth * 1.32;
$expandedCardHeight: $actualCardHeight * 1.32;
$cardOnHandBlowUpWidth: $actualCardWidth * 1.2;
$cardOnHandBlowUpHeight: $actualCardHeight * 1.2;

$opponentHandScale: .65;
$opponentDiscardAndDrawPileScale: .9;

$opponentStationScale: .68;
$playerStationScale: .68;

$scaledCardWidth: calc(#{$cardWidth} * .2);
$scaledCardHeight: calc(#{$cardHeight} * .2);

$playerCardOnHandWidth: $scaledCardWidth;
$playerCardOnHandHeight: $scaledCardHeight;
$playerStationCardWidth: calc(#{$scaledCardWidth} * #{$playerStationScale});
$playerStationCardHeight: calc(#{$scaledCardHeight} * #{$playerStationScale});
$playerDiscardPileCardWidth: $scaledCardWidth;
$playerDiscardPileCardHeight: $scaledCardHeight;
$playerDrawPileCardWidth: $scaledCardWidth;
$playerDrawPileCardHeight: $scaledCardHeight;

$opponentCardWidth: $scaledCardWidth;
$opponentCardHeight: $scaledCardHeight;
$opponentZoneCardWidth: $scaledCardWidth;
$opponentZoneCardHeight: $scaledCardHeight;
$opponentCardOnHandWidth: calc(#{$scaledCardWidth} * #{$opponentHandScale});
$opponentCardOnHandHeight: calc(#{$scaledCardHeight} * #{$opponentHandScale});
$opponentStationCardWidth: calc(#{$scaledCardWidth} * #{$opponentStationScale});
$opponentStationCardHeight: calc(#{$scaledCardHeight} * #{$opponentStationScale});
$opponentDiscardPileCardWidth: calc(#{$scaledCardWidth} * #{$opponentDiscardAndDrawPileScale});
$opponentDiscardPileCardHeight: calc(#{$scaledCardHeight} * #{$opponentDiscardAndDrawPileScale});
$opponentDrawPileCardWidth: calc(#{$scaledCardWidth} * #{$opponentDiscardAndDrawPileScale});
$opponentDrawPileCardHeight: calc(#{$scaledCardHeight} * #{$opponentDiscardAndDrawPileScale});

$commanderCardWidth: calc(#{$cardWidth} / 2.8);
$commanderCardHeight: calc(#{$cardHeight} / 2.8);

$cardHoverWidth: $cardWidth / 2.8;
$cardHoverHeight: $cardHeight / 2.8;

$cardGhostZIndex: 2;
$cardGhostWidth: $scaledCardWidth;
$cardGhostHeight: $scaledCardHeight;
$playerCardsOnHandZIndex: 3;
$holdingCardZIndex: 4;
