:root {
  --card-width: 652px;
  --card-height: 916px;
  --player-cards-on-hand-offset: 0px;
  --z-position: 0px;
  --z-position-adjust: 4;
  --x-rotate-adjust: 15deg;
  --mobileOnPortrait:0;
  --gui-height-adjust: 50%;
  --space-between-GUI-n-draw-pile: 0px;
  --top-spacing: 0px
  }

// 1920 x 1080 -> 19:6
// 1366 x 768 -> 16:9
// 1280 x 800 -> 16:9
// 1024 x 768 -> 4:3
// 736 x 414
// 568 x 320

// 800x1280
// 768x1024

@media only screen and (min-device-width: 320px) 
                   and (max-device-width: 850px) 
                   and (orientation: portrait) {
.opponentStationCards{
  padding-bottom: 3rem;
}
.match-wrapper {
  transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
}

.matchHeader-banner {
  display: grid;
  height: auto;
}
.matchHeader-bannerName {
  display: grid;
  margin: auto;
}

.matchHeader-bannerBarsWrapper {
  display: grid;
}
.matchHeader-bannerClockText{
  margin: auto;
}
.mobileOnPortrait {
  display: block;
}
}

@media only screen and (min-device-width: 320px) 
                    and (max-device-width: 767px) 
                    and (orientation: landscape) {

.matchHeader-banner {
  display: grid;
  height: auto;
}
.matchHeader-bannerName {
  display: grid;
  margin: auto;
}

.matchHeader-bannerBarsWrapper {
  display: grid;
}
.matchHeader-bannerClockText{
  margin: auto;
}

.mobileOnPortrait {
  display: none;
}
}

$cardWidth: var(--card-width);
$cardHeight: var(--card-height);

$actualCardWidth: 287px;
$actualCardHeight: 400px;
$expandedCardWidth: $actualCardWidth * 1.32;
$expandedCardHeight: $actualCardHeight * 1.32;
$cardOnHandBlowUpWidth: $actualCardWidth * 1.2;
$cardOnHandBlowUpHeight: $actualCardHeight * 1.2;

$opponentHandScale: 0.65;
$opponentDiscardAndDrawPileScale: 0.9;

$opponentStationScale: .68;
$playerStationScale: .68;

$scaledCardWidth: calc(#{var(--card-width)} * 0.2);
$scaledCardHeight: calc(#{$cardHeight} * 0.2);

$playerCardOnHandWidth: $scaledCardWidth;
$playerCardOnHandHeight: $scaledCardHeight;
$playerStationCardWidth: calc(#{$scaledCardWidth} * #{$playerStationScale});
$playerStationCardHeight: calc(#{$scaledCardHeight} * #{$playerStationScale});
$playerDiscardPileCardWidth: $scaledCardWidth;
$playerDiscardPileCardHeight: $scaledCardHeight;
$playerDrawPileCardWidth: $scaledCardWidth;
$playerDrawPileCardHeight: $scaledCardHeight;

$opponentCardWidth: $scaledCardWidth;
$opponentCardHeight: $scaledCardHeight;
$opponentZoneCardWidth: $scaledCardWidth;
$opponentZoneCardHeight: $scaledCardHeight;
$opponentCardOnHandWidth: calc(#{$scaledCardWidth} * #{$opponentHandScale});
$opponentCardOnHandHeight: calc(#{$scaledCardHeight} * #{$opponentHandScale});
$opponentStationCardWidth: calc(#{$scaledCardWidth} * #{$opponentStationScale});
$opponentStationCardHeight: calc(#{$scaledCardHeight} * #{$opponentStationScale});
$opponentDiscardPileCardWidth: calc(
  #{$scaledCardWidth} * #{$opponentDiscardAndDrawPileScale}
);
$opponentDiscardPileCardHeight: calc(
  #{$scaledCardHeight} * #{$opponentDiscardAndDrawPileScale}
);
$opponentDrawPileCardWidth: calc(
  #{$scaledCardWidth} * #{$opponentDiscardAndDrawPileScale}
);
$opponentDrawPileCardHeight: calc(
  #{$scaledCardHeight} * #{$opponentDiscardAndDrawPileScale}
);

$commanderCardWidth: calc(#{$cardWidth} / 2.8);
$commanderCardHeight: calc(#{$cardHeight} / 2.8);

$cardHoverWidth: calc(#{$cardWidth} / 2.8);
$cardHoverHeight: calc(#{$cardHeight} / 2.8);

$cardGhostZIndex: 2;
$cardGhostWidth: $scaledCardWidth;
$cardGhostHeight: $scaledCardHeight;
$playerCardsOnHandZIndex: 3;
$holdingCardZIndex: 4;

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
 }
 ::-webkit-scrollbar-thumb {
  background: #999C;  
  border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:hover{
 background: radial-gradient(circle, #99999c 25%,#a5abd4 50%);
 }
 ::-webkit-scrollbar-track{
  background: rgba($color: #000000, $alpha: 0);
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px rgba($color: #000000, $alpha: 0);
 }