@import "cardVariables";

.playerCardsOnHand {
  position: absolute;
  z-index: $playerCardsOnHandZIndex;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0;
}

.playerCardsOnHand .card {
  width: $playerCardOnHandWidth;
  height: $playerCardOnHandHeight;
  position: absolute;
  bottom: var(--player-cards-on-hand-offset);
  transition: bottom .2s ease-out, width .2s ease-out, height .2s ease-out;
  box-sizing: content-box;

  &::after {
    content: "";
    width: 140%;
    height: 175%;
    position: absolute;
    left: -20%;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  &--highlight {
    outline: 4px solid #8ae68a;

    &:hover {
      outline: 6px solid #2ee62e;
    }
  }
}

.cardHoverActivator {
  position: absolute;
  width: $playerCardOnHandWidth;
  height: 100px; //TODO Increase to 150px when using touch?
  bottom: 100px;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transform: translateX(-50%);
  z-index: 2;
  cursor: pointer;

  touch-action: none;
}

.cardHoverBlowUp {
  touch-action: none;

  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: translateX(-50%);
  opacity: 1;
  bottom: 120px;
  width: $cardOnHandBlowUpWidth;
  height: $cardOnHandBlowUpHeight;
  cursor: pointer;
  z-index: 1;
}

.opponentCardsOnHand {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  flex: 1 0;
  justify-content: center;
  align-items: flex-start;
  transition: top .12s ease-out;

  &:hover {
    top: -20px;
  }

  .card {
    width: $opponentCardOnHandWidth;
    height: $opponentCardOnHandHeight;
    position: absolute;
    top: 0;
    transition: bottom .2s ease-out;

    &:last-child {
      margin-right: 0;
    }
  }
}
