@import "cardVariables";

.card {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  background: white;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.actionOverlays {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.actionOverlays {
  z-index: 2;

  * {
    visibility: hidden;
  }

  &:hover * {
    visibility: visible;
  }
}

.attackable,
.movable,
.selectable,
.selectForRepair {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: .5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.attackable,
.selectable {
  background-color: rgba(255, 100, 100, .5);
}

.selectForRepair {
  background-color: rgba(100, 100, 255, .5);
}

.movable {
  background-color: rgba(0, 0, 0, .2);
}

.card.card-faceDown.selected--danger {
  outline: 3px solid red;
}

.selectable--turnedAround {
  transform: rotate(180deg);
}

.cardDisabledOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;

  .cardDisabledOverlay-text {
    font-family: "Space mono", sans-serif;
    color: rgba(255, 0, 0, 0.6);
    position: relative;
    bottom: 2px;
  }
}

.card.card--expandable {
  &:active:hover {
    transition: transform .75s cubic-bezier(0.95, 0.05, 0.795, 0.035) !important;
    transform: scale(1.1);
  }

  &.card--turnedAround:active:hover {
    transform: rotate(180deg) scale(1.1) !important;
  }
}
