@import "miscVariables";
@import "colors";

.cardChoiceDialog-overlay {
  background-color: $dimOverlayColor;
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cardChoiceDialog {
  position: absolute;
  z-index: 1001;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 20px 0 40px 0;
  justify-content: center;
  align-items: stretch;
  background: $dialogColoredGradient;
  border: 2px solid $dialogGlowingBorderColor;
}

.cardChoiceDialog-choice {
  color: #FFF;
  border: none;
  font-size: 20px;
  padding: 18px 120px;
  background: transparent;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  letter-spacing: .18em;
  position: relative;
  margin-bottom: 6px;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &::after {
    content: '';
    height: 1px;
    width: 75%;
    background: rgba(255, 255, 255, .25);
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    line-height: 0;
    text-shadow: 2px 2px 2px red;

  }

  &:last-child::after {
    content: none;
  }

  &:hover {
    background-color: rgba(120, 120, 120, .06);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.chardChoiceDialog-header {
  color: #FFF;
  border: none;
  font-size: 28px;
  padding: 18px 40px;
  background: transparent;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: "Space Mono", monospace;
  letter-spacing: .18em;
  text-align: center;
}
