$dialogBorderColor: rgba(255, 255, 255, 0.15);
$dialogBackground: linear-gradient(to bottom, #0a0a14, #140a0a);;

$homeZoneCardGhost-borderColor: #8ae68a;
$homeZoneCardGhost-hoverBackgroundColor: rgba(138, 230, 138, .2);
$linkWhite: #fff;
