.counter {
  position: relative;
  z-index: 2;
  padding-left: 40px;
  padding-right: 40px;

  &:hover {
    color: rgba(255, 255, 255, 1);
    border: 1px solid #ff3646;
    background: #ff3646;
    cursor: pointer;
  }
}
