@import "miscVariables";
@import "cardVariables";

.enlargeIcon {
  opacity: 0;
  background-image: url(/icon/enlarge-red.svg);
  background-size: contain;
  fill: red;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  z-index: 3;

  &--small {
    width: 15px;
    height: 15px;
  }

  .card:hover & {
    animation: fullOpacityOnIntentionalHover .14s;
    opacity: 1;
  }
}

.card.card--enlarged {
  $ratio: $cardWidth / $cardHeight;

  background-size: contain;
  width: 80vh * $ratio;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.dimOverlay {
  background-color: $dimOverlayColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
