@import "cardVariables";
@import "miscVariables";

$startOpacity: .2;
$endOpacity: .6;

.field-player {
  .field-drawPile::before,
  .field-discardPile::before,
  .commanderCards::before {
    $fontSize: 20px;

    font-family: "Space Mono", monospace;
    font-size: $fontSize;
    position: absolute;
    bottom: calc(100% + #{$fontSize / 6});
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;

    color: rgba(255, 255, 255, $startOpacity);
  }

  .field-drawPile:hover::before,
  .field-discardPile:hover::before,
  .commanderCards:hover::before {
    transition: color .15s ease;
    color: rgba(255, 255, 255, $endOpacity);
  }

  .field-drawPile::before {
    content: "Draw pile";
    margin-bottom: 1rem;
  }

  .field-discardPile::before {
    content: "Discard pile";
    margin-bottom: 1rem;;
  }

  .commanderCards {
    position: relative;
    margin-right: 1rem;;
    &::before {
      content: "Commander";
      margin-bottom: 1rem;
    }
  }
}

.stationCardLabel {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  transform-origin: 0 0;
  transform: rotate(90deg);
  margin-left: -10px;
  pointer-events: none;
}

.stationCardLabelText {
  letter-spacing: .25em;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  transform: rotate(180deg);
  margin-left: calc(((#{$playerStationCardHeight} + #{$stationRowPaddingTop} + #{$stationRowPaddingBottom}) / 3) - 48px);

  color: rgba(255, 255, 255, $startOpacity);
  font-family: "Space Mono", monospace;
  font-size: 36px;
  white-space: nowrap;
}

.field-player .card-emptyDeck {
  border-color: rgba(255, 255, 255, $startOpacity);

  &:hover {
    transition: border-color .15s ease;
    border-color: rgba(255, 255, 255, $endOpacity);
  }
}


// Phones in landscape mode, by Jim 2021-03-10
@media (max-height: 700px) and (orientation: landscape) {
  .stationCardLabelText {
    left: 20px;
    font-size: 18px;
  }
}
