@import "cardVariables";
@import "icons";
@import "buttons";
@import "flex";
@import "overwork";
@import "perfectPlan";
@import "counter";
@import "choiceDialog";
@import "cardsOnHand";
@import "card";

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.match-overlay {
  border: 4px solid black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
}

.field {
  margin-top: 60px;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field-dividerWrapper {
  position: relative;
  height: 20px;
  z-index: 3;
}

.field-divider {
  height: 6px;
  background: rgba(255, 255, 255, .1);
  flex: 1 0 auto;
  border-radius: 30px 30px 60px 60px;
  width: 99.5%;
  margin: 0 auto;
}

.field-dividerContent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.field-player, .field-opponent {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

.field-player {
  flex: 0 0 62%;
}

.field-opponent {
  flex: 0 0 38%;
  width: 80%;

  .card {
    width: $opponentZoneCardWidth;
    height: $opponentZoneCardHeight;
  }
}

.field-piles {
  width: 15%;
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.field-player .field-piles {
  z-index: 2;
}

.field-opponent .field-piles {
  width: 10%;
  flex: 0 0 10%;
  align-items: flex-start;
}

.field-drawPile {
  position: relative;

  .card {
    width: 100%;
    height: 100%;
  }

  .field-player & {
    width: $playerDrawPileCardWidth;
    height: $playerDrawPileCardHeight;
  }

  .field-opponent & {
    width: $opponentDrawPileCardWidth;
    height: $opponentDrawPileCardHeight;
  }
}

.field-discardPile {
  position: relative;

  .field-player & {
    width: $playerDiscardPileCardWidth;
    height: $playerDiscardPileCardHeight;
  }

  .field-opponent & {
    width: $opponentDiscardPileCardWidth;
    height: $opponentDiscardPileCardHeight;
  }

  .card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.field-zone {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  .card {
    margin: 0 4px;
    box-sizing: border-box;
  }
}

.field-zoneRows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 10 0 auto;
}

.field-opponentZoneRow {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.field-opponentZoneRows {
  justify-content: flex-end;
}

.field-playerZoneRows {
  justify-content: flex-start;
  align-items: stretch;
}

.playerCardsInZone {
  flex: 1 0 auto;
  position: relative;
  width: auto;
  margin-top: 16px;
}

.playerCardsInOpponentZone {
  margin-top: 8px;
}

.opponentCardsInPlayerZone {
  margin-top: 8px;
  flex: 0 1 auto;
  flex-wrap: nowrap;
}

.card {
  width: $playerCardWidth;
  height: $playerCardHeight;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  box-sizing: border-box;

  &--turnedAround {
    transform: rotate(180deg);
  }
}

.card-faceDown {
  position: relative;
  overflow: hidden;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-image: url(https://images.thespacewar.com/back-image.png);
    background-size: cover;

    .field-opponent & {
      transform: rotate(180deg);
    }

    .opponentCardsOnHand & {
      transform: rotate(180deg);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .field-opponent &::after,
  .opponentCardsOnHand &::after {
    background-color: rgba(53, 167, 255, .3);
  }

  .field-player &::after,
  .playerCardsOnHand &::after,
  &.card-faceDown--player::after {
    background-color: rgba(255, 0, 0, 0.25);
  }
}

.card-placeholder {
  background: none;
  border-color: transparent;
  position: relative;
}

.card-ghost {
  width: $cardGhostWidth;
  height: $cardGhostHeight;
  border: 4px solid #8ae68a;
  background: transparent;
  z-index: $cardGhostZIndex;
  position: relative;

  &--leftAbsolute {
    position: absolute;
    left: 100%;
  }

  &--hoveredOver, &:hover {
    background: rgba(138, 230, 138, .2);
  }

  &--zone {
    position: absolute;
    width: auto;
    height: calc(#{$playerCardHeight} * 1.1);
    top: calc(#{$playerCardHeight} * -.05);
    left: 10px;
    right: 10px;
    padding: 0;
  }
}

.playerEventCardGhost {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  width: 100%;
  z-index: 1;
  height: calc(#{$playerCardHeight} * .6);
  $color: rgb(18, 18, 18);
  background: radial-gradient(circle, rgba($color, 0.85) 0%, rgba($color, 0.75) 21%, rgba($color, 0.60) 65%, rgba($color, 0.40) 100%);

  &--hoveredOver, &:hover {
    $color: #162e16;
    background: radial-gradient(circle, rgba($color, 0.85) 0%, rgba($color, 0.75) 21%, rgba($color, 0.60) 65%, rgba($color, 0.40) 100%);
    border: 4px solid #8ae68a;
  }
}

.activateEventCard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 32px;
  font-weight: bold;
  color: rgba(255, 255, 255, .8);

  .playerEventCardGhost:hover & {
    color: rgba(255, 255, 255, 1);
  }
}

.discardPile-cardGhost {
  border: 4px solid rgb(204, 31, 31);

  &--hoveredOver, &:hover {
    background: rgba(230, 46, 46, 0.2);
  }
}

.discardPile-cardGhost::after {
  content: "";
  position: absolute;
  width: 170%;
  height: 170%;
  top: 50%;
  left: 20%;
  z-index: 10000;
  transform: translate(-50%, -50%);
}

.card-emptyDeck {
  width: $playerCardWidth;
  height: $playerCardHeight;
  border: 4px solid rgba(60, 60, 60, .16);
  background: transparent;
  z-index: $cardGhostZIndex;
}

.holdingCard {
  position: absolute;
  pointer-events: none;
  transform: translate(-10%, -20%);
  z-index: $holdingCardZIndex;
}

.playerActionPointsContainer,
.guideTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;

  > * {
    text-shadow: 0px -2px 0px rgba(0, 0, 0, .5),
    0px 2px 0px rgba(0, 0, 0, .5);
  }
}

.playerActionPoints,
.guideText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -.1em;

  line-height: 100%;
  font-size: 35px;
  color: white;
  font-weight: bold;
  font-family: "Space mono", sans-serif;
}

.guideText-subText {
  font-size: 20px;
  font-family: "Space mono", sans-serif;
  color: rgba(255, 255, 255, .8);
}

.guideText-waitingForOtherPlayer {
  font-size: 20px;
  font-family: "Space mono", sans-serif;
  color: rgba(255, 255, 255, .8);
  position: relative;
  top: -2px;
}

.actionOverlays, .indicatorOverlays {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.actionOverlays {
  z-index: 2;

  &:hover {
    & .actionOverlay {
      visibility: visible;
    }
  }
}

.actionOverlay {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: .5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &--hinted {
    opacity: .2;
    visibility: visible;
  }
}

.drawPile-draw,
.drawPile-discardTopTwo {
  background-color: rgba(0, 0, 0, .5);
}

.drawPile-cardCount {
  position: absolute;
  right: 10px;
  top: 0px;
}

.drawPile-cardCountText {
  font-size: 23px;
  color: rgba(255, 255, 255, .5);
  font-family: "Space mono", monospace;
}

.match-background {
  width: 100%;
  filter: contrast(101%) brightness(42%) saturate(160%);
}

.match-backgroundWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(1.05);
  z-index: -2;
}

.match-backgroundOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cardHoverActivator {
  position: absolute;
  width: $playerCardOnHandWidth;
  height: 100px; //TODO Increase to 150px when using touch?
  bottom: 100px;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transform: translateX(-50%);
  z-index: 2;
  cursor: pointer;

  touch-action: none;
}

.cardHoverBlowUp {
  touch-action: none;

  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: translateX(-50%);
  opacity: 1;
  bottom: 120px;
  width: calc(#{$cardWidth} / 2);
  height: calc(#{$cardHeight} / 2);
  cursor: pointer;
  z-index: 1;
}

.recycle,
.discard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  visibility: hidden;

  .card-ghost:hover & {
    visibility: visible;
  }
}

$shakeDuration: .2s;
$shakeAnimationFunction: ease-out;
$shakeDelay: 0s;

.shake {
  animation: shake $shakeDuration $shakeAnimationFunction;
  animation-delay: $shakeDelay;
}

.shake--upsideDown {
  animation: shake-upsideDown $shakeDuration $shakeAnimationFunction;
  animation-delay: $shakeDelay;
}

.flash-red {
  animation: flash-red .4s linear;
}

.flash {
  animation: flash 1s ease-out;
}

@keyframes flash-red {
  0% {
    background: rgba(255, 40, 40, 0);
  }

  10% {
    background: rgba(255, 40, 40, .35);
  }

  60% {
    background: rgba(255, 40, 40, .4);
  }

  100% {
    background: rgba(255, 40, 40, 0);
  }
}

@keyframes flash {
  50% {
    filter: contrast(50%) brightness(150%);
  }
}


@-webkit-keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes shake-upsideDown {
  0% {
    transform: translate(2px, 1px) rotate(180deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(179deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(181deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(180deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(181deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(179deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(180deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(179deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(181deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(180deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(179deg);
  }
}
