@import "../colors";

.chooseStartingPlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.chooseStartingPlayer-dialog {
  border: 1px solid $dialogGlowingBorderColor;
}

.chooseStartingPlayer-randomlyChosenText {
  display: block;
  font-size: .6em;
  opacity: .5;
}
