@import "../colors";

.chooseStartingPlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.chooseStartingPlayer-randomlyChosenText {
  display: block;
  font-size: .6em;
  color: rgba(255, 255, 255, .5);
}

.cardChoiceDialog-choiceSubText {
  display: block;
  color: rgba(255, 255, 255, .5);
  font-size: .8em;
  margin-top: 5px;
}