$bannerHeight: 50px;

$bannerBackgroundColor: rgb(18, 18, 18);
$bannerBorderColor: rgb(40, 40, 40);

$bannerOpponentBackgroundColor: rgb(18, 18, 22);
$bannerOpponentBorderColor: rgb(40, 40, 50);
$bannerOpponentTextColor: rgb(120, 120, 140);

$bannerPlayerBackgroundColor: rgb(22, 18, 18);
$bannerPlayerBorderColor: rgb(50, 40, 40);
$bannerPlayerTextColor: rgb(140, 120, 120);


$bannerTextColor: rgb(120, 120, 120);
$bannerOutlineFocusColor: rgb(20, 20, 20);
$bannerBorderFocusColor: rgb(60, 60, 60);
$bannerBackgroundFocusColor: rgb(40, 40, 40);

$bannerTopMargin: 10px;
$bannerSideMargin: 20px;
$bannerInnerSideMargin: 10px;

$playerColor: #ff3b3b;
$playerSecondaryColor: #992323;
$opponentColor: dodgerblue;
$opponentSecondaryColor: #125a99;
