@import "../miscVariables";

.dimOverlay {
  background-color: $dimOverlayColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.dimOverlay--hidden {
  background-color: transparent;
}

.dimOverlay--hidden .dimOverlay-content {
  opacity: 0;
  pointer-events: none;
}

.dimOverlay-toggleOverlay:hover {
  background-color: #51c870;
  color: white;
  outline: 0;
}

.dimOverlay-topRightButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  > button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 5px;
  }
}

.windowedOverlay {
  width: 500vw;
  height: 500vh;
  transform: translateZ(1px) translateX(-50%) translateY(-50%) !important;
  background-color: rgba(20,20,20,0.85);
}

.setBackWindowedOverlay {
  transform: translateZ(-13px);
}

.setFrontWindowedOverlay {
  transform: translateZ(2px);
}

.setFrontWindowedOverlayWithRotation180 {
  transform: translateZ(2px) rotate(180deg);
}

.waiting{
  width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(40,40,40,0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    margin: auto;
}
.dots {
  margin: auto;
  color: white;
  font-family:helvetica;
  font-size:72px;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.dots span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.dots span:nth-child(2) {
    animation-delay: .2s;
}

.dots span:nth-child(3) {
    animation-delay: .4s;
}