.stationRowDescription {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  white-space: nowrap;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.descriptionText {
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(180, 180, 180, 0.5);
}

.opponentDrawPileDescription,
.playerDrawPileDescription {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
}

.opponentDrawPileDescription {
  position: absolute;
  left: 100%;
  justify-content: flex-end;
  width: 120px;
}

.playerDrawPileDescription {
  position: absolute;
  left: 100%;
  width: 180px;
}

.match:not(.currentPhase--draw) {
  .playerDrawPileDescription, .opponentDrawPileDescription {
    display: none;
  }
}
